@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  min-width: 350px;
}

.error-input {
  -webkit-box-shadow: 4px 11px 15px -3px #f71e1e, 5px 22px 24px -3px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 4px 11px 15px -3px #f71e1e, 5px 22px 24px -3px rgba(0, 0, 0, 0.1) !important;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #bca0f0;
  margin-top: 3rem;
}

footer .footer-copyright {
  color: black;
  font-weight: 400;
}

ul li {
  list-style: none;
}

.fail {
  color: red;
  text-align: center;
  font-weight: bold;
}

.success {
  color: green;
  text-align: center;
  font-weight: bold;
}

header {
  height: 99.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

header .header-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  z-index: -1;
}

header .header-parallax {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 99.5vh;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .header-parallax img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  bottom: -0vh;
  left: 0;
  z-index: 9;
  height: 100%;
}

header .header-parallax img:nth-child(2) {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  bottom: 10vh;
  left: 0;
  z-index: 10;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav {
  position: relative;
}

.nav .nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3rem 1rem;
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav .nav-desktop a {
  color: #7d76a8;
  text-decoration: none;
  margin-right: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .nav-desktop a:hover {
  color: #4f42a3;
}

.nav .nav-desktop .nav-group {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .nav-desktop .nav-group .nav-logo {
  width: 100px;
  height: 100px;
  padding-left: 10rem;
}

.nav .nav-desktop .nav-group .nav-logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.nav .nav-desktop .nav-group:nth-child(2) {
  margin-right: 0px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  margin-left: 1rem;
}

.nav .nav-mobile {
  display: none;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  width: 80%;
  height: 100%;
}

.presentation .presentation__title {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
  text-align: center;
}

.presentation .presentation__text {
  width: 50%;
  color: #9072e4;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  border-radius: 10px;
}

.presentation .presentation__text .full-sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.presentation .presentation__text .full-sentence p {
  font-size: 3rem;
  margin: 2rem 0;
  width: auto;
  font-weight: 300;
}

.presentation .presentation__text .full-sentence p b {
  width: auto;
  font-weight: bolder;
}

.presentation .presentation__text b {
  font-size: 2.5rem;
  margin: 2rem 0;
  max-width: 80%;
}

.presentation .presentation__text p {
  font-size: 1.8rem;
  margin: 2rem 0;
  max-width: 80%;
  font-weight: 300;
}

.switch-projects__title {
  margin-bottom: 8rem;
}

.switch-projects__title h2 {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

.switch-projects {
  background-color: #9072e4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-space {
  margin: 5% auto;
  padding: 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-space .switch-projects__list-item-title h3 {
  text-align: center;
  margin-bottom: 3rem;
}

.switch-projects__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem 0;
  min-height: 5rem;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: -1px 9px 20px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 9px 20px 0px rgba(0, 0, 0, 0.75);
}

.switch-projects__list-item .links-projects-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  position: absolute;
  top: -3rem;
  left: 0;
  z-index: -1;
  width: auto;
}

.switch-projects__list-item .links-projects-nav li {
  list-style: none;
  padding: 1rem;
  margin: 0 0;
  border-radius: 5px;
  width: auto;
  z-index: 0;
  background-color: #f5f5f5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.switch-projects__list-item .links-projects-nav li:hover {
  -webkit-box-shadow: 0px -10px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -10px 12px 0px rgba(0, 0, 0, 0.1);
  margin: 0 0.5rem;
  cursor: pointer;
}

.switch-projects__list-item .links-projects-nav li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
}

.switch-projects__list-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes selection__card {
  0% {
    width: 25%;
    height: auto;
    visibility: visible;
    padding: inherit;
    margin: inherit;
    opacity: 1;
  }
  100% {
    width: 0%;
    height: 0%;
    visibility: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}

@keyframes selection__card {
  0% {
    width: 25%;
    height: auto;
    visibility: visible;
    padding: inherit;
    margin: inherit;
    opacity: 1;
  }
  100% {
    width: 0%;
    height: 0%;
    visibility: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}

@-webkit-keyframes selection__card-show {
  0% {
    width: 0%;
    height: 0%;
    visibility: visible;
    padding: inherit;
    margin: inherit;
    opacity: 0;
  }
  100% {
    width: 25%;
    height: inherit;
    visibility: visible;
    padding: 10px;
    margin: 1rem 1.5rem;
    opacity: 1;
  }
}

@keyframes selection__card-show {
  0% {
    width: 0%;
    height: 0%;
    visibility: visible;
    padding: inherit;
    margin: inherit;
    opacity: 0;
  }
  100% {
    width: 25%;
    height: inherit;
    visibility: visible;
    padding: 10px;
    margin: 1rem 1.5rem;
    opacity: 1;
  }
}

.card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin: 1rem 1.5rem;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card .card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card .card-image .card-title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  left: 0;
  text-align: start;
  padding: 0.5rem 2rem;
  width: auto;
  color: white;
}

.card .card-content {
  margin-top: 1rem;
}

.card-action {
  padding: 0.5rem;
  text-align: center;
  background-color: #6a51f8;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.card-action a {
  color: white;
  text-decoration: none;
}

.card-action:hover {
  cursor: pointer;
  background-color: #4f42a3;
  -webkit-box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.container-education {
  background-color: #afa2fb;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.educacion__title {
  margin: 2rem 0;
  margin-top: 5rem;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  color: white;
}

.educacion__title p::nth-child(1)::first-letter {
  font-size: 10rem;
}

.studies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: auto;
  margin: 5% auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.studies p {
  margin: 0;
}

.studies .studycard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 22rem;
  border-radius: 10px;
  -webkit-box-shadow: -1px 9px 20px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 9px 20px 0px rgba(0, 0, 0, 0.75);
  background-color: #f0d897;
  padding: 1rem;
  margin: 1rem;
}

.studies .studycard .studycard__img {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.studies .studycard .studycard__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.studies .studycard .studycard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.project-space {
  z-index: 10;
}

.active {
  background-color: aquamarine;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3rem 0;
}

.about-me .about-me-title {
  text-align: center;
  margin-bottom: 2rem;
}

.about-me .about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-me .about-me-content .about-me-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  text-align: left;
  margin: 1rem;
}

.about-me .about-me-content .about-me-text .about-me-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-me .about-me-content .about-me-text .about-me-social a {
  font-size: 2.5rem;
  width: auto;
  color: black;
  margin-left: 1rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.about-me .about-me-content .about-me-text .about-me-social a:hover {
  color: #6a51f8;
  cursor: pointer;
}

.about-me .about-me-content .about-me-img {
  width: 30%;
  height: auto;
  text-align: center;
  margin: 1rem;
  border-radius: 50%;
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
}

.about-me .about-me-content .about-me-img img {
  border-radius: 10%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Projects .banner {
  width: 100%;
  height: 55vh;
  overflow: hidden;
  position: relative;
}

.Projects .banner h1 {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 35%;
  z-index: 2;
  font-size: 3rem;
  color: white;
}

.Projects .banner img {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.about-project {
  width: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-project h1 {
  text-align: center;
}

.about-project .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-project .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  padding: 0;
}

.about-project .container ul li {
  margin: 0.5rem;
  width: 100px;
  height: auto;
}

.about-project .container h2 {
  text-align: center;
}

.about-project .container .text-project {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-project .container .text-project p {
  width: 40%;
}

.about-project .container a {
  padding: 0.5rem 1rem;
  background-color: #6a51f8;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 4px 11px 15px -3px #bca0f0, 5px 22px 24px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 11px 15px -3px #bca0f0, 5px 22px 24px -3px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.about-project .container a:hover {
  background-color: #4f42a3;
}

.xs {
  width: 5%;
}

.s {
  width: 10%;
}

.m {
  width: 20%;
}

.l {
  width: 30%;
}

.xl {
  width: 40%;
}

.xxl {
  width: 50%;
}

.xxxl {
  width: 60%;
}

.xs-center {
  width: 5%;
  margin: 0 auto;
}

.s-center {
  width: 10%;
  margin: 0 auto;
}

.m-center {
  width: 20%;
  margin: 0 auto;
}

.l-center {
  width: 30%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.xl-center {
  width: 40%;
  margin: 0 auto;
}

.xxl-center {
  width: 50%;
  margin: 0 auto;
}

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box-containers {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  width: 100%;
  height: auto;
  padding: 3rem 0;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container .contact_title {
  text-align: center;
  margin-bottom: 2rem;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.input-style {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 4px 11px 15px -3px #bca0f0, 5px 22px 24px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 11px 15px -3px #bca0f0, 5px 22px 24px -3px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  border-style: hidden;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.input-style:focus-visible {
  outline: none !important;
  border-bottom: 1px solid black;
}

.input-style:focus {
  outline: none !important;
  border-style: inherit;
  border-bottom: 3px solid #7126fd;
}

.send {
  width: auto;
  height: auto;
  padding: 1rem 0.5rem;
  background-color: #6a51f8;
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.send:hover {
  background-color: #3520a7;
  color: white;
}

@-webkit-keyframes ldio-1hxpjgvokzlh {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ldio-1hxpjgvokzlh {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.ldio-1hxpjgvokzlh div {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.ldio-1hxpjgvokzlh > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #b928b7 transparent #b928b7 transparent;
  -webkit-animation: ldio-1hxpjgvokzlh 1s linear infinite;
          animation: ldio-1hxpjgvokzlh 1s linear infinite;
}

.ldio-1hxpjgvokzlh > div:nth-child(2) {
  border-color: transparent;
}

.ldio-1hxpjgvokzlh > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ldio-1hxpjgvokzlh > div:nth-child(2) div:before,
.ldio-1hxpjgvokzlh > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #b928b7;
  border-radius: 50%;
  -webkit-box-shadow: 0 128px 0 0 #b928b7;
          box-shadow: 0 128px 0 0 #b928b7;
}

.ldio-1hxpjgvokzlh > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  -webkit-box-shadow: 128px 0 0 0 #b928b7;
          box-shadow: 128px 0 0 0 #b928b7;
}

.loadingio-spinner-dual-ring-jtvoe90skw8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

.ldio-1hxpjgvokzlh {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-1hxpjgvokzlh div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* generated by https://loading.io/ */
@media screen and (max-width: 1050px) {
  .about-project {
    width: 100%;
    padding: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-project h1 {
    text-align: center;
  }
  .about-project .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-project .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem 0;
    padding: 0;
  }
  .about-project .container ul li {
    margin: 0.5rem;
    width: 100px;
    height: auto;
  }
  .about-project .container h2 {
    text-align: center;
  }
  .about-project .container .text-project {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-project .container .text-project p {
    width: 80%;
  }
  .about-project .container a {
    padding: 0.5rem 1rem;
    background-color: #6a51f8;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 4px 11px 15px -3px #bca0f0, 5px 22px 24px -3px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 11px 15px -3px #bca0f0, 5px 22px 24px -3px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
  }
  .about-project .container a:hover {
    background-color: #4f42a3;
  }
  .Projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Projects .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Projects .banner h1 {
    position: absolute;
    top: 40%;
    width: 90%;
    z-index: 2;
    font-size: 2.2rem;
    color: white;
  }
  .Projects .banner img {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
  .presentation {
    width: 100%;
    height: auto;
  }
  .presentation .presentation__text {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .presentation .presentation__text p {
    width: 100%;
  }
  .nav .nav-desktop {
    display: none;
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 3rem 1rem;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .nav .nav-desktop a {
    color: #7d76a8;
    text-decoration: none;
    margin-right: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav .nav-desktop a:hover {
    color: #4f42a3;
  }
  .nav .nav-desktop .nav-group {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav .nav-desktop .nav-group .nav-logo {
    width: 100px;
    height: 100px;
    padding-left: 10rem;
  }
  .nav .nav-desktop .nav-group .nav-logo img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav .nav-desktop .nav-group:nth-child(2) {
    margin-right: 0px;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    margin-left: 1rem;
  }
  .nav .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
  }
  .nav .nav-mobile .nav-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav .nav-mobile .nav-group .nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 4rem;
    width: auto;
  }
  .nav .nav-mobile .nav-group .nav-button i {
    color: white;
    font-size: 2rem;
  }
  .nav .nav-mobile .nav-group .nav-button i:hover {
    cursor: pointer;
  }
  .nav .nav-mobile .nav-group .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #6a51f8;
    text-align: center;
    height: 0rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nav .nav-mobile .nav-group .nav-items.active {
    height: 10rem !important;
  }
  .nav .nav-mobile .nav-group .nav-items.active li {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .nav-mobile .nav-group .nav-items li {
    margin-bottom: 1rem;
    opacity: 0;
    display: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .nav .nav-mobile .nav-group .nav-items li a {
    color: white;
    text-decoration: none;
  }
  header {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
  }
  header .header-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    z-index: -1;
  }
  header .header-parallax {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 99.5vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  header .header-parallax img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    bottom: -0vh;
    left: 0;
    z-index: 9;
    height: 100%;
  }
  header .header-parallax img:nth-child(2) {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    bottom: 10vh;
    left: 0;
    z-index: 10;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .switch-projects__title {
    margin-bottom: 4rem;
  }
  .switch-projects__title h2 {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  .switch-projects {
    background-color: #9072e4;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-space {
    margin: 5% auto;
    padding: 0;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .switch-projects__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 1rem 0;
    min-height: 5rem;
    z-index: 10;
    position: relative;
    -webkit-box-shadow: -1px 9px 20px 0px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 9px 20px 0px rgba(0, 0, 0, 0.75);
  }
  .switch-projects__list-item .links-projects-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    left: 0;
    z-index: -1;
    width: 90%;
    margin: 5rem 0;
  }
  .switch-projects__list-item .links-projects-nav li {
    list-style: none;
    margin: 0 0;
    border-radius: 5px;
    width: auto;
    z-index: 0;
    background-color: #f5f5f5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .switch-projects__list-item .links-projects-nav li:hover {
    -webkit-box-shadow: 0px -10px 12px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px -10px 12px 0px rgba(0, 0, 0, 0.1);
    margin: 0 0.5rem;
    background-color: #9072e4;
    cursor: pointer;
    color: white;
  }
  .switch-projects__list-item .links-projects-nav li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .switch-projects__list-item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .card-image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .card .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .card .card-image .card-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    text-align: start;
    padding: 0.5rem 2rem;
    width: auto;
    color: white;
  }
  .card .card-content {
    margin-top: 1rem;
  }
  @-webkit-keyframes selection__card {
    0% {
      width: 80%;
      height: auto;
      visibility: visible;
      padding: inherit;
      margin: inherit;
      opacity: 1;
    }
    100% {
      width: 0%;
      height: 0px;
      visibility: hidden;
      padding: 0;
      margin: 0;
      opacity: 0;
    }
  }
  @keyframes selection__card {
    0% {
      width: 80%;
      height: auto;
      visibility: visible;
      padding: inherit;
      margin: inherit;
      opacity: 1;
    }
    100% {
      width: 0%;
      height: 0px;
      visibility: hidden;
      padding: 0;
      margin: 0;
      opacity: 0;
    }
  }
  @-webkit-keyframes selection__card-show {
    0% {
      width: 0%;
      height: 0px;
      visibility: visible;
      padding: inherit;
      margin: inherit;
      opacity: 0;
    }
    100% {
      width: 80%;
      height: inherit;
      visibility: visible;
      padding: 10px;
      margin: 1rem 1.5rem;
      opacity: 1;
    }
  }
  @keyframes selection__card-show {
    0% {
      width: 0%;
      height: 0px;
      visibility: visible;
      padding: inherit;
      margin: inherit;
      opacity: 0;
    }
    100% {
      width: 80%;
      height: inherit;
      visibility: visible;
      padding: 10px;
      margin: 1rem 1.5rem;
      opacity: 1;
    }
  }
  .contact {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background-color: white;
  }
  .contact .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact__container .contact_title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .input-style {
    width: 8rem;
    height: auto;
    margin: 0 auto;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid black;
    border-radius: 10px;
    margin: 1rem;
    border-style: hidden;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }
  .input-style:focus-visible {
    outline: none !important;
    border-bottom: 1px solid black;
  }
  .input-style:focus {
    outline: none !important;
    border-style: inherit;
    border-bottom: 3px solid #ba95ff;
  }
  .send {
    width: auto;
    height: auto;
    padding: 1rem 0.5rem;
    background-color: #6a51f8;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .send:hover {
    background-color: #3520a7;
    color: white;
  }
  @-webkit-keyframes ldio-1hxpjgvokzlh {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes ldio-1hxpjgvokzlh {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .ldio-1hxpjgvokzlh div {
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
  }
  .ldio-1hxpjgvokzlh > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #b928b7 transparent #b928b7 transparent;
    -webkit-animation: ldio-1hxpjgvokzlh 1s linear infinite;
            animation: ldio-1hxpjgvokzlh 1s linear infinite;
  }
  .ldio-1hxpjgvokzlh > div:nth-child(2) {
    border-color: transparent;
  }
  .ldio-1hxpjgvokzlh > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .ldio-1hxpjgvokzlh > div:nth-child(2) div:before,
  .ldio-1hxpjgvokzlh > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #b928b7;
    border-radius: 50%;
    -webkit-box-shadow: 0 128px 0 0 #b928b7;
            box-shadow: 0 128px 0 0 #b928b7;
  }
  .ldio-1hxpjgvokzlh > div:nth-child(2) div:after {
    left: -16px;
    top: 48px;
    -webkit-box-shadow: 128px 0 0 0 #b928b7;
            box-shadow: 128px 0 0 0 #b928b7;
  }
  .loadingio-spinner-dual-ring-jtvoe90skw8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
  }
  .ldio-1hxpjgvokzlh {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    /* see note above */
  }
  .ldio-1hxpjgvokzlh div {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .flex-row-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin-bottom: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .input-containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input-containers label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box-containers {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 3rem 0;
  }
  .about-me .about-me-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .about-me .about-me-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .about-me .about-me-content .about-me-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    text-align: left;
    margin: 1rem;
  }
  .about-me .about-me-content .about-me-text .about-me-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about-me .about-me-content .about-me-text .about-me-social a {
    font-size: 2.5rem;
    width: auto;
    color: black;
    margin-left: 1rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .about-me .about-me-content .about-me-text .about-me-social a:hover {
    color: #6a51f8;
    cursor: pointer;
  }
  .about-me .about-me-content .about-me-img {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 1rem;
    border-radius: 50%;
    -webkit-clip-path: circle(40% at 50% 50%);
            clip-path: circle(40% at 50% 50%);
  }
  .about-me .about-me-content .about-me-img img {
    border-radius: 10%;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=styles.css.map */